<launch>
  <arg name="first_host" default="jackal-1" />
  <arg name="dual_discover" default="false" />
  <arg name="second_host" default="jackal-2"/>

  <!-- Single Jackal Discovery -->
  <node name="master_discovery" pkg="master_discovery_fkie" type="master_discovery" output="screen"  unless="$(arg dual_discover)" args="_robot_hosts:=[$(arg first_host)]" />

  <!-- Dual Jackal Discovery -->
  <node name="master_discovery" pkg="master_discovery_fkie" type="master_discovery" output="screen"  if="$(arg dual_discover)" args="_robot_hosts:=[$(arg first_host),$(arg second_host)]" />
  
</launch>
       
